# node
node_modules

# app
entities/.gitkeep
providers/implementations/.gitkeep
repositories/implementations/.gitkeep
useCases/.gitkeep
utils/.gitkeep
@types/.gitkeep
config/.gitkeep

## yarn
yarn.lock
yarn-error.log

# build
dist
